




.neon-button {
font-size: 2rem;

margin: 220px;
margin-bottom: 550px; 

display: inline-block;
cursor: pointer;
text-decoration: none;
color: hsl(317 100% 54%);
border:hsl(317 100% 54%)  0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;
 
text-shadow:
0 0 0.125em 
hsl(0 0% 100% / .5), 0 0 0.45em  currentColor;

box-shadow: inset 0 0 0.5em hsl(317 100% 54%),
0 0 0.5em hsl(317 100% 54%); 
  
position: relative;

}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: hsl(317 100% 54%);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1.5em);
    opacity: 0.7;

}


.neon-button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
    opacity: 0;
    background-color: hsl(317 100% 54%);
    z-index: -1;
    transition: opacity 100ms linear;
}


.neon-button:hover,
.neon-button:focus {
    color: hsl(323 21% 16%);
    text-shadow: none;
}

.neon-button:hover::before, 
.neon-button:focus::before {
    opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after{
    opacity: 1;
}

* {
    box-sizing: border-box;
}


div {
    transform-origin: center center;
    transform-style: preserve-3d;
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0%,
    100%{
        transform: rotate3d(1,1,0,40deg);
    }

    25% {
        transform: rotate3d(-1,1,0,40deg);
    }

    50% {
        transform: rotate3d(-1,-1,0,40deg);
    }

    75%{
        transform: rotate3d(1,-1,0,40deg);
    }
}

h1 {
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 1;
    font: 900 4em 'Concert One', sans-serif;
    text-transform: uppercase;
    position: absolute;
    color: #0a0a0a;
    animation: shine 10s ease-in-out infinite;
}

@keyframes shine {
    0%,
    100% {
        text-shadow: 0 0 30px red;
    }

    25% {
        text-shadow: 0 0 30px orange;
    }
    50% {
        text-shadow: 0 0 30px forestgreen;
    }
    75% {
        text-shadow: 0 0 30px cyan;
    }
}

h1:nth-child(2) {
    transform: translateZ(5px);
}
h1:nth-child(3) {
    transform: translateZ(10px);
}
h1:nth-child(4) {
    transform: translateZ(15px);
}
h1:nth-child(5) {
    transform: translateZ(20px);
}
h1:nth-child(6) {
    transform: translateZ(25px);
}
h1:nth-child(7) {
    transform: translateZ(30px);
}
h1:nth-child(8) {
    transform: translateZ(35px);
}
h1:nth-child(9) {
    transform: translateZ(40px);
}
h1:nth-child(10) {
    transform: translateZ(45px);
}

body {
    background: #000;
    overflow: hidden;
}